// ======================================
// Scope ================================
// ======================================

@function meteora-gallery-scope {
  $classlist: "#{&}";
    $split-arr: ();
    $index : str-index($classlist, " ");
    
    // loop through string
    @while $index != null {
        $item: str-slice($classlist, 1, $index - 1);
        $split-arr: append($split-arr, $item);
        $classlist: str-slice($classlist, $index + 1);
        $index : str-index($classlist, " ");
    }

    $split-arr: append($split-arr, $classlist);
    @return nth($classlist, length($classlist));
}


// ======================================
// Styles ===============================
// ======================================

@mixin meteora-gallery {
  $parent: meteora-gallery-scope();
  position: relative;


  #{$parent} {
    &--item {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      transition: opacity .3s ease;

      &#{$parent} {
        &--current {
          @debug &;
          position: relative;
          z-index: 2;
        }

        &--active {
          opacity: 1;
        }
      }
    }

  }
}